@font-face {
    font-family: 'neu';
    src: url(./Assets/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayMediu.ttf);
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100vh;
    font-family: 'neu';
}

.main{
    position: relative;
    z-index: 10;
}

.intro{
    z-index: 99;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: black;
    color: lin;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.5s;
    font-size: 30px;
}
.intro h1{
    background: -webkit-linear-gradient(#FE330A, #fe8d2c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.page1{
    width: 100%;
    min-height: 160vh;
    background-color: #EFEAE3;
    position: relative;
    margin-top: -30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 4;
}
.page1 .nav{
    width: 100%;
    padding: 35px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vw 4vw;
}
.page1 .nav img{
    width: 11%;
}
.page1 .nav .navBtn{
    display: flex;
    gap: 10px;
}
.page1 .nav .navBtn h4{
    padding: 1vw 2vw;
    border: 1px solid rgba(0, 0, 0, 0.232);
    border-radius: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.232);
    font-weight: 800;
}
.page1 .nav .navBtn h4 a{
    color: black;
    z-index: 99;
    text-decoration: none;
    position: relative;
    font-size: 1.1vw;
}
.page1 .nav .navBtn h4::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: black;
    margin-top: 8vw;
    border-radius: 50%;
    transition: all ease 0.3s;
}
.page1 .nav .navBtn h4:hover a{
    color: white;
}
.page1 .nav .navBtn h4:hover::after{
    margin-top: 0;
    border-radius: 0;
}




.layout{
    width: 95%;
    max-height: 80vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0vw 4vw;
    margin-bottom: 60px;
    flex-wrap: wrap;
    padding: 4vw 1vw;
    border-bottom: 1px solid rgba(0, 0, 0, 0.379);
    padding-top: 12vw;
}

.layout .left{
    display: flex;
    width: 30%;
    font-size: 2vw;
    font-weight: 600;
    line-height: 2vw;
    align-items: end;
    margin-left: 30px;
}
.layout .right{
    width: 60%;
}
.layout .right h1{
    font-size: 10vw;
    font-weight: 700;
    line-height: 8vw;
    text-align: right;
}

.page1 video {
    position: relative;
    border-radius: 30px;
    margin-top: 4vw;
    width: 95%;
}

#hero-shape {
    position: absolute;
    width: 46vw;
    height: 36vw;
    right: 0;
    top: 45vw;
}

#hero-1 {
    background-color: #FE320A;
    height: 100%;
    width: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(10px);
    position: absolute;
}

#hero-2 {
    background: linear-gradient(#FE320A, #fe3f0a);
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    position: absolute;
    animation-name: anime2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    filter: blur(25px);
}

#hero-3 {
    background: linear-gradient(#FE320A, #fe3f0a);
    height: 30vw;
    position: absolute;
    width: 30vw;
    border-radius: 50%;
    filter: blur(25px);
    animation-name: anime1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes anime1 {
    from {
        transform: translate(55%, -3%);
    }

    to {
        transform: translate(0%, 10%);
    }
}

@keyframes anime2 {
    from {
        transform: translate(5%, -5%);
    }

    to {
        transform: translate(-20%, 30%);
    }
}
.page2{
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-color: #EFEAE3;
    margin-top: -90px;
}

.page2 .moving-text{
    display: flex;
    margin-top: 5vw;
    overflow-x: auto;
    margin-top: 90px;
    position: relative;
    
}
.moving-text::-webkit-scrollbar{
    display: none;
}
.page2 .moving-text .row{
    display: flex;
    position: relative;
    animation-name: moving;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    align-items: center;
    justify-content: center;
}

.page2 .moving-text h1{
    display: inline-block;
    font-size: 9vw;
    margin-top: 70px;
}
.page2 .moving-text .ball{
    width: 5vw;
    height: 5vw;
    background-color: #FE330A;
    border-radius: 50%;
    display: flex;
    margin: 0vw 2vw;
    margin-top: 5vw;
}


@keyframes moving {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}


.center{
    width: 100%;
    padding: 10vw 5vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3vw;
}

.center .left{
    width: 60%;
    font-size: 4.4vw;
    font-weight: 600;
    line-height: 4.5vw;
    z-index: 9;
    letter-spacing: -2px;
}
.center .right{
    width: 20%;
    margin-top: 130px;
    font-size: 1.2vw;
}
.center .right img{
    width: 100%;
    border-radius: 15px;
}
.center .gollo{
    width: 36vw;
    height: 35vw;
    border-radius: 50%;
    filter: blur(20px);
    background: linear-gradient(#FF7524,#FE330A);
    position: absolute;
    top: 40vh;
    left: 24%;
    animation-name: movinggola;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes movinggola {
    from{
        transform: translate(10%,-10%) skew(5deg,0);
    }
    to{
        transform: translate(-5%,5%) skew(0deg,-5deg);
    }
}


.cetigory{
    width: 100%;
    overflow: hidden;
}
.cetigory .cet{
    width: 100%;
    height: 20%;
    font-size: 1.8vw;
    font-family: 'neu';
    padding: 3vw 3vw;
    border-bottom: 1px solid rgba(0, 0, 0, 0.232);
    overflow: hidden;
    position: relative;

}
.cet h1{
    position: relative;
    z-index: 10;
}

.cetigory .cet .overlay{
    width: 100%;
    height: 100%;
    background-color:#fe8d2c;
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.3s;
}

.cetigory .cet:hover .overlay{
    top: 0;
}
.cetigory .cet img{
    display: none;
}
.cetigory .cet video{
    display: none;
}


.fixed{
    width: 400px;
    border-radius: 10px;
    height: 500px;
    position: fixed;
    top: 15vh;
    right: 20%;
    z-index: 100;
    background-position: center;
    background-size: cover;
    display: none;
}
.fixed .image{
    width: 100%;
}


/* page 3 */

.page3{
    width: 100%;
    max-height: 140vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #EFEAE3;
}

.page3 .design{
    width: 90vw;
    background-color: black;
    border-radius: 10px;
    max-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin-bottom: 3vw;
    margin-top: 10vw;
}

.page3 .design .left{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.page3 .design .left .left-layout{
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
    position: relative;
}

.page3 .design .left .left-layout h1{
    font-size: 4vw;
    line-height: 4vw;
    font-family: 'neu';
    display: inline-block;
    color: rgba(255, 255, 255, 0.3);
}

.page3 .design .left .left-layout p{
    font-family: 'neu';
    margin-top: 3vw;
    font-size: 1.1vw;
    font-weight: 300;
}

.page3 .design .left .left-layout .h1s{
    display: flex;
    flex-direction: column;
}

.page3 .design .left .left-layout .h1s span{
    content: "";
    width: 1%;
    height: 4.5vw;
    backdrop-filter: blur(10px);
    position: absolute;
    left: -1%;
    background-color: rgba(255, 255, 255, 0.371);
    border: none;
}

#h1 span{
    background-color: #FE330A;
}

.page3 .design .left .left-layout #h1{
    color: white;
}


.page3 .design .right{
    width: 50%;
    position: relative;
    margin-right: 2vw;
    padding: 2vw 0vw;
}
.page3 .design .right img{
    width: 100%;
    border-radius: 10px;
}


.page5{
    width: 100%;
    min-height: 100vh;
}



.footer{
    position: fixed;
    bottom: 0;
    height: 100vh;
    width: 100%;
    background-color: black;
    z-index: 9;
    color: #EFEAE3;
    display: flex;
    align-items: end;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.footer h1{
    font-size: 22vw;
    border-bottom: 2px solid rgba(255, 255, 255, 0.389);
    display: inline-block;
    
    margin-right: 4vw;
}
.footer .foot{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 1vw;
    width: 100%;
    height: 10%;
}

.footer .section{
    width: 100%;
    height: 33%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 5vw;
    z-index: 2;
}
.footer .section .sec1{
    font-size: 2vw;
}
.footer .section .sec2{
    font-size: 1.5vw;
}

.footer .section .sec2 input{
    width: 22vw;
    height: 3vw;
    background-color: transparent;
    border-bottom: 2px solid rgba(255, 255, 255, 0.303);
    padding: 10px;
    margin-top: 10px;
    color: #EFEAE3;
}

.footer .ball1{
    width: 100vw;
    height: 35em;
    background:#FE330A;
    position: absolute;
    top: -17em;
    left: -25em;
    filter: blur(20px);
    border-bottom-right-radius: 30%;
    animation-name: movingball1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    z-index: 1;
}
.footer .ball2{
    width: 90vw;
    height: 30vw;
    background:#FE330A;
    position: absolute;
    top: -14vw;
    left: 5vw;
    filter: blur(20px);
    animation-name: movingball2;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    z-index: 1;
}
.footer .ball3{
    width: 80vw;
    height: 40vw;
    background:#FE330A;
    position: absolute;
    top: -20vw;
    right: -30%;
    rotate: 45deg;
    filter: blur(20px);
    border-radius: 999em;
    animation-name: movingball3;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    z-index: 1;
    border-radius: 30%;
}

@keyframes movingball1 {
    from{
        transform: rotate(-5deg)
    }
    to{
        transform: rotate(-20deg)
    }
}

@keyframes movingball3{
    from{
        transform: rotate(-20deg) translateY(10%)
    }
    to{
        transform: rotate(0deg) translateY(15%)
    }
}
@keyframes movingball2 {
    from{
        rotate: 0deg;
    }
    to{
        rotate: 20deg;
    }
}

.page4{
    width: 100%;
    min-height: 50vh;
    background-color: #EFEAE3;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0vw 2vw;
}

.swiper {
    width: 100%;
    height: 100%;
    background-color: #EFEAE3;
    position: relative;
    overflow: hidden;
    cursor: none;
  }

  .swiper-slide {
    width: 20vw;
    height: 100%;
    text-align: center;
    font-size: 1.1vw;
    background: #fff;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    text-align: left;
    padding-left: 2vw;
    margin-top: 5vw;
    transition: all ease 0.5s;
    transition: transform 0.3s ease;
  }

  .swiper-slide img {
    display: block;
    width: 40%;
    height: 20%;
    object-fit: cover;
    margin-top: -2vw;
  }

  .swiper-slide {
    width: 30vw;
    background-color: #EFEAE3;
    border-left: 1px solid rgba(0, 0, 0, 0.378);
    margin-bottom: 3vw;
  }
  .swiper-slide p{
    width: 70%;
  }

.curser{
    position: fixed;
    left: 0%;
    top: 30%;
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    background-color: #FE330A;
    z-index: 99;
    scale: 0;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.curser span{
    width: 40%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.curser span i{
    font-size: 1.5vw;
    color: white;
}

